@tailwind base;

h1 {
    @apply text-3xl;
    @apply mb-2;
    @apply px-3;
    @apply text-primary-Dark-Blue;
    @apply font-bold;
    line-height: 2rem;
    }
h2 {
    @apply text-2xl;
    @apply mb-2;
    @apply px-3;
    @apply font-bold;
    @apply text-primary-Dark-Blue;
    line-height: 2rem;
    }
h3 {
    @apply text-xl;
    @apply mb-1;
    @apply px-3;
    @apply font-medium;
    @apply text-primary-Dark-Blue;
    line-height: 2rem;
    }
h4 {
    @apply text-lg;
    @apply mb-1;
    @apply px-3;
    @apply font-medium;
    @apply text-primary-Dark-Blue;
    line-height: 1.8rem;
    }
h6 {
    font-size: 0.7rem;
    @apply mb-1;
    @apply px-3;
    @apply font-normal;
    @apply text-primary-Dark-Blue;
    line-height: 0.7rem;
    }

p {
    @apply font-medium;
    @apply text-sm;
    @apply text-neutral-Grayish-Blue;
    @apply px-3;
}

section {
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply justify-center;
}



@tailwind components;

@tailwind utilities;

body {
    font-family: 'Public Sans', sans-serif;
    color: var(--color-Dark-Blue);
}

:root {
    --color-Dark-Blue: hsl(233, 26%, 24%);
    --color-Lime-Green:  hsl(136, 65%, 51%);
    --color-Bright-Cyan:hsl(192, 70%, 51%);
    
    --color-Grayish-Blue:  hsl(233, 8%, 62%);
    --color-light-grayish-blue:  hsl(220, 16%, 96%);
    --color-very-light-gray: hsl(0, 0%, 98%);
}

#hero-image {
    height: 22rem;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-image: url(../../../design/images/bg-intro-mobile.svg);
}

@media only screen and (min-width: 640px) {
    #hero-image{
    background-image: url(../../../design/images/bg-intro-desktop.svg);
    height: auto;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    transform: translateY(-10rem);
    z-index: -5;

}
  }